html {
	font-size: 14px;
	}

.blog-masthead{
	background-color: #b34848;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #b34848;

}

.blog-post-title a:hover{
	color: #b34848;
	}

.nekiKomentar ul {
	list-style-type: none;

	}

.nekiKomentar ul li:first-child{
	color: #b34848;
	 }

.hide-show {
	padding: 20px 20px 20px 0;
	}
.hide-show > .btn {
	border-radius: 2rem;
	}

.hidden {
	display: none;
	}
.komentar-forma {
	height: 300px;
	width: 220px;
	}
.komentar-forma  {
	border-radius: 2rem;
	}
.dugme {
	border-radius: 2rem;
	background-color: white;
	border-style: dotted;
	border-color: lightgrey;
	color: grey;
	}
.dugme:hover {
	background-color: lightgrey;

	}

.submitcommentdugme {
    border-radius: 2rem;
	background-color: white;
	border-style: dotted;
	border-color: lightgrey;
	color: grey;
	}
.submitcommentdugme:hover {
	background-color: lightgrey;
	}

.novipost {
	background-color: yellow;
	width: 300px;
	}

.novi-post{
	padding: 20px;
	border-style: solid;
	border-radius: 5rem;
	border-color: lightgrey;
	}
.novi-post1{
	padding: 20px;}